@page "/AdicionarMarcas"
@inject Data.MarcaService MarcaService
@using Projeto1.Models
<h3>Adicionar Marca</h3>

<form onsubmit="return false">
    <input type="text" @bind="nome" placeholder="Nome da marca" />
    <input type="submit" value="Guardar" @onclick="AdicionarMarca" />
</form>

@if (mensagem != null)
{
    <p>@mensagem</p>
}

@code {
    private string nome = string.Empty;
    private string? mensagem;

    private async Task AdicionarMarca()
    {
        if (!string.IsNullOrWhiteSpace(nome))
        {
            var novaMarca = new Marca { Nome = nome };
            await MarcaService.AdicionarMarcaAsync(novaMarca);
            mensagem = "Marca adicionada com sucesso!";
            nome = string.Empty;
        }
        else
        {
            mensagem = "O nome da marca é obrigatório.";
        }
    }
}
