@page "/detalhes/{ModeloId:int}"
@using Projeto1.Models
@using Projeto1.Data
@inject ModeloService ModeloService

<h1>Detalhes do Modelo</h1>

@if (modelo == null)
{
    <p>Modelo não encontrado.</p>
}
else
{
    <h2>@modelo.Nome</h2>

  
    <ul>
        <li><strong>Marca:</strong> @modelo.Marca?.Nome</li>
        <li><strong>ID do Modelo:</strong> @modelo.Id</li>
        <li><strong>ID da Marca:</strong> @modelo.MarcaId</li>
    </ul>
}

@code {
    [Parameter] public int ModeloId { get; set; }

    private Modelo? modelo;

    protected override async Task OnInitializedAsync()
    {
        modelo = await ModeloService.GetModeloByIdAsync(ModeloId);
    }
}
