@page "/marcas"
@using Projeto1.Data
@using Projeto1.Models
@inject MarcaService MarcaService
@inject NavigationManager NavigationManager

<h1>Marcas</h1>

@if (marcas == null)
{
    <p>A carregar marcas...</p>
}
else
{
    <ul>
        @foreach (var marca in marcas)
        {
            <li>
                <button @onclick="@(() => NavegarParaModelos(marca.Id))">
                    @marca.Nome
                </button>
            </li>
        }
    </ul>
}

<style>

    h1 {
        font-size: 2.5rem;
        color: #003366;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        margin: 10px;
    }

    button {
        background-color: #003366;
        border: none;
        color: #ffffff;
        padding: 15px 30px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 8px;
    }

    button:hover {
        background-color: #0055aa;
    }
    p {
        font-size: 1.5rem;
        color: #003366;
    }
</style>

@code {
    private List<Marca>? marcas;

    protected override async Task OnInitializedAsync()
    {
        marcas = await MarcaService.GetMarcasAsync();
    }

    private void NavegarParaModelos(int marcaId)
    {
        NavigationManager.NavigateTo($"/modelos/{marcaId}");
    }
}