@page "/marcas"
@using Projeto1.Data
@using Projeto1.Models
@inject MarcaService MarcaService
@inject NavigationManager NavigationManager

<h1>Marcas</h1>

@if (marcas == null)
{
    <p>A carregar marcas...</p>
}
else
{
    <ul>
        @foreach (var marca in marcas)
        {
            <li>
                <button @onclick="@(() => NavegarParaModelos(marca.Id))">
                    @marca.Nome
                </button>
            </li>
        }
    </ul>
}

@code {
    private List<Marca>? marcas;

    protected override async Task OnInitializedAsync()
    {
        marcas = await MarcaService.GetMarcasAsync();
    }

    private void NavegarParaModelos(int marcaId)
    {
        NavigationManager.NavigateTo($"/modelos/{marcaId}");
    }

}